<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">lib/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="SerpApi Test Suite">
      <directory>./tests/</directory>
      <exclude>./tests/EngineTest.php</exclude>
    </testsuite>
  </testsuites>
  <php>
    <ini name="date.timezone" value="UTC"/>
    <env name="SERPAPI_APIURL" value="https://serpapi.com"/>
    <env name="SERPAPI_KEY" value=""/>
  </php>
</phpunit>
